<?xml version="1.0" encoding="UTF-8"?>
<menu_list>
    <menu_item id="1">
        <name>
            Рулет с изюмом
        </name>
        <weight>
            75
        </weight>
        <price>
            15
        </price>
    </menu_item>
    <menu_item id="2">
        <name>
            Печень по королевски
        </name>
        <weight>
            150
        </weight>
        <price>
            54
        </price>
    </menu_item>
    <menu_item id="3">
        <name>
            Рис отварной с маслом
        </name>
        <weight>
            170
        </weight>
        <price>
            16
        </price>
    </menu_item>
    <menu_item id="4">
        <name>
            Салат Изюминка
        </name>
        <weight>
            100
        </weight>
        <price>
            35
        </price>
    </menu_item>
    <menu_item id="5">
        <name>
            Пирог с повидлом
        </name>
        <weight>
            60
        </weight>
        <price>
            13
        </price>
    </menu_item>
    <menu_item id="6">
        <name>
            Пирог с яблоками
        </name>
        <weight>
            60
        </weight>
        <price>
            13
        </price>
    </menu_item>
    <menu_item id="7">
        <name>
            Салат Лукошко
        </name>
        <weight>
            100
        </weight>
        <price>
            40
        </price>
    </menu_item>
    <menu_item id="8">
        <name>
            Салат Капустный с помидором
        </name>
        <weight>
            100
        </weight>
        <price>
            19
        </price>
    </menu_item>
    <menu_item id="9">
        <name>
            Суп харчо с говядиной
        </name>
        <weight>
            250
        </weight>
        <price>
            31
        </price>
    </menu_item>
    <menu_item id="10">
        <name>
            Суп куриный с грибами
        </name>
        <weight>
            250
        </weight>
        <price>
            34
        </price>
    </menu_item>
    <menu_item id="11">
        <name>
            Суп болгарский вегетарианский
        </name>
        <weight>
            250
        </weight>
        <price>
            21
        </price>
    </menu_item>
    <menu_item id="12">
        <name>
            Рыбное филе с помидоркой
        </name>
        <weight>
            80
        </weight>
        <price>
            54
        </price>
    </menu_item>
    <menu_item id="13">
        <name>
            Свинина запеченная"По-гусарски"
        </name>
        <weight>
            80
        </weight>
        <price>
            68
        </price>
    </menu_item>
    <menu_item id="14">
        <name>
            Греча с маслом
        </name>
        <weight>
            170
        </weight>
        <price>
            17
        </price>
    </menu_item>
    <menu_item id="15">
        <name>
            Макароны отварные
        </name>
        <weight>
            170
        </weight>
        <price>
            15
        </price>
    </menu_item>
</menu_list>